
@{
    ViewBag.Title = "Movie";
}

<div class="col-sm-8 b-dashed b-grey b-r">
    <div data-bind="foreach: Movies">
        <div><span>#: </span><span data-bind="text: id"></span></div>
        <div><span>Name: </span><span data-bind="text: name"></span></div>
        <div><span>Showtime: </span><span data-bind="text: showtime"></span></div>
        
        <div data-bind="foreach: rows">
            <div class="col-sm-1" data-bind="text: $data"></div>
            <div class="col-sm-10">
                <div data-bind="foreach: $parent.seats" class="center-block">
                    <!-- ko if: $parent === row() -->
                    <div class="seat available"><span class="noselect" data-bind="text: seetnumber"></span></div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="col-sm-4">
    @*Backet*@
</div>

@section scripts {
    <script>

        var viewModel;
        $(function() {
            viewModel = new CinemaApp.Page();

            ko.applyBindings(viewModel);

            $.get("/api/movie",
                function(items) {
                    $.each(items,
                        function(idx, item) {
                            viewModel.Movies.push(new CinemaApp.Movie(item));
                        });
                },
                "json");
        });       
    </script>
}

