
@{
    ViewBag.Title = "Movie";
}

<div class="col-sm-8 b-dashed b-grey b-r">
    <div data-bind="foreach: Movies">
        <div><span>#: </span><span data-bind="text: id"></span></div>
        <div><span>Name: </span><span data-bind="text: name"></span></div>
        <div><span>Showtime: </span><span data-bind="text: showtime"></span></div>
        
        <div data-bind="foreach: rows">
            <div class="col-sm-1" data-bind="text: $data"></div>
            <div class="col-sm-10">
                <div data-bind="foreach: $parent.seats" class="center-block">
                    <!-- ko if: $parent === row() -->
                    <div class="seat noselect" data-bind="event: { mouseover: onMouseOver, mouseout: onMouseLeave }, text: seetnumber, click: onClick , css: { available : available }"></div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div>Backet: </div>
    <div>Total: </div><div data-bind='text: Backet.ordertotal'></div>
    <div data-bind="foreach: Backet.items">
        <div class="cart_item">
            <div class="cart_item_data">#</div>
            <div class="cart_item_data" data-bind="text: $index()+1"></div>
            <div class="cart_item_data">Row: </div>
            <div class="cart_item_data" data-bind="text: row"></div>
            <div class="cart_item_data">Place: </div>
            <div class="cart_item_data" data-bind="text: seetnumber"></div>
            <div class="cart_item_data">Price: </div>
            <div class="cart_item_data" data-bind="text: price"></div>
            <div class="pull-right glyphicon glyphicon-remove pointer" data-bind="click: $parent.Backet.remove"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var viewModel;
        $(function() {
            viewModel = new CinemaApp.Page();
            ko.applyBindings(viewModel);
            $.get("/api/movie",
                function(items) {
                    $.each(items,
                        function(idx, item) {
                            viewModel.Movies.push(new CinemaApp.Movie(item));
                        });
                },
                "json");
        });
    </script>
}